<%- include('../../includes/header')-%>
<%- include('../../includes/sidebar')-%>

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
    <%- include('../../includes/topbar')-%>
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-md-12">
                <a href="/upazilla/upazillainitialtrialform" class="btn btn-success btn-group-sm ">প্রদর্শনীর প্রাথমিক প্রতিবেদন ফর্ম</a>
            </div>
        </div>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<%- include('../../includes/footer')-%>