<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="signin_signup/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="/signin_signup/animate/animate.css">
    <!--===============================================================================================-->	
      <link rel="stylesheet" type="text/css" href="/signin_signup/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="/signin_signup/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="/signin_signup/select2/select2.min.css">
    <!--===============================================================================================-->	
      <link rel="stylesheet" type="text/css" href="/signin_signup/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="/signin_signup/main_css/util.css">
      <link rel="stylesheet" type="text/css" href="/signin_signup/main_css/main.css">
   
  </head>
  <body>
      <div class="limiter" style="background-image: url('/images/bg-01.jpg');background-size: cover;width: 100%;height: 100vh;padding: 300px 0;">
        
          <div class="container">
            <div class="row">
              <div class="col-md-12" >
                <h1 class="align-center" style="text-align: center;
                font-size: 50px;
                color: white;
                text-shadow: 2px 2px 2px black;">Welcome to Barisal, Patuakhali, Bhola, Jhalkathi, Barguna, Madaripur, Shariatpur Agricultural Development Project</h1>
              </div>
              
            </div>
            
              <div class="row mt-4">
                  <div class="col-md-3"><a href="/pd/login" class="btn btn-danger"> Program Director Login</a></div>
                  <div class="col-md-3"><a href="/ad/login" class="btn btn-danger"> Additional Director Login</a></div>
                  <div class="col-md-3"><a href="/dd/login" class="btn btn-danger"> District Director Login</a></div>
                  <div class="col-md-3"><a href="/upazilla/login" class="btn btn-danger"> Upazilla Agricultural Officer Login</a></div>
              </div>
          </div>
      </div>


    <!--===============================================================================================-->
	<script src="/signin_signup/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
    <script src="/signin_signup/animsition/js/animsition.min.js"></script>
  <!--===============================================================================================-->
    <script src="/signin_signup/bootstrap/js/popper.js"></script>
    <script src="/signin_signup/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
    <script src="/signin_signup/select2/select2.min.js"></script>
  <!--===============================================================================================-->
    <script src="/signin_signup/daterangepicker/moment.min.js"></script>
    <script src="/signin_signup/daterangepicker/daterangepicker.js"></script>
  <!--===============================================================================================-->
    <script src="/signin_signup/countdowntime/countdowntime.js"></script>
  <!--===============================================================================================-->
    <script src="/signin_signup/main_js/main.js"></script>
  
  </body>
</html>
